*, 
*::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

form, body{
    text-align: center;
    max-width: 80%;
    justify-content: center;
    margin: auto;
}

form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.crud-table{
    display: flex !important;

}

@media (width < 631px) {
    .crud-table{
        flex-direction: column wrap !important;
    }
}



